* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
        'Lucida Sans', Arial, sans-serif;
}

.parent {
    display: flex;
    width: 50%;
    align-items: center;
    margin: 0 auto
}

.child {
    flex: 1;
    border: 2px solid blueviolet;
    margin: 10px;
}

.child:first-child {
    margin-right: 20px;
}

h1 {
    text-align: center;
    padding: 5rem 0px;
}