footer {
    background: teal;
    padding: 10px 0px;
    font-family: 'Play', sans-serif;
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

a {
    padding: 0 15px;
}

svg {
    width: 30px;
}