* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
        'Lucida Sans', Arial, sans-serif;
}

body {
    background-color: pink;
}

.live {
    background-color: teal;
    color: black;
    padding: 7px 14px;
    /* border-radius: 5px; */
}

#bootstrap-overide a {
    text-decoration: none;
    display: block;
    /* font-size: 12; */
}